ul.Folders-list {
    list-style-type: none;
    width: 100%;

    padding: 0;
    margin: 0;
}

ul.Folders-list > li {
    color: darkslategray;

    border: 1px solid gray;
    background-color: antiquewhite;
/*
    min-width: 200px;
    max-width: 200px;
*/
    text-align: center;

    margin-bottom: 5px;
}

/* Render as Grid */
ul.Folders-list.Folder-grid-view {
    grid-column-start: 1;
    grid-column-end: 4;
}

ul.Folders-list.Folder-grid-view > li {
    height: 60px;
    max-width: 240px;
    min-width: 200px;

    display: inline-block;
    margin-right: 5px;
}

ul.Folders-list > li > div {
    display: flex;
}

ul.Folders-list > li > div a {
    flex: 1;
}

ul.Folders-list > li > div.Folder-name, ul.Folders-list > li > div.Folder-no-subfolders, ul.Folders-list > li > div a, ul.Folders-list > li > div button.Action-icon {
    padding: 10px;
}

ul.Folders-list > li > div.Folder-name {
    justify-content: center;
}

ul.Folders-list > li > div.Folder-no-subfolders {
    background-color: gainsboro;
    height: 100%;
}

ul.Folders-list > li a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.Create-folder-item-icon::before {
    content: "\002B";
    font-size: 22px;
    font-weight: bold;
    line-height: 15px;
}