ul.tree-menu {
    list-style-type: none;

    padding: 0;
    margin: 0;
}

/* Style the caret/arrow */
.menu-caret, ul.tree-menu > li {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    
    color: cyan;
}

/* Create the caret/arrow with a unicode, and style it */
.menu-caret::before {
    content: "\25B6";
    display: inline-block;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.menu-caret-down::before {
    transform: rotate(90deg);
}
  
/* Hide the nested list */
ul.tree-menu.menu-nested {
    /* display: none; */
    padding-left: 23px;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.menu-active {
    display: block;
}

.Project-structure-nav a {
    text-decoration: none;
    color: inherit;
}