
.c-portal {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.c-portal > .left-sidebar{
    display: flex;
    flex-direction: column;

    flex: 1;
    max-width: 400px;
    min-width: 200px;

    /* background-color: #00a59d; */
    background-color: #4d4261;
}

.c-portal>.left-sidebar>.portal-recents {
    flex-grow: 1;
}

.c-portal>.left-sidebar>.portal-export {
    padding: 0;
}

.c-portal > .left-sidebar > header > .App-branding{
    height: 60px;
}

.c-portal > .left-sidebar > section {
    margin: 10px;
    padding: 0px 15px;
}

.c-portal > .left-sidebar > section:nth-last-of-type(1) {
    padding-bottom: 15px;
}

.c-portal > .left-sidebar > section > header{
    font-size: 18px;
    color: white;
}

.c-portal > .main-content {
    flex: 5; 
    
    display: flex;
    flex-direction: column;
}

.c-portal > .main-content > header{
    font-style: italic;
    font-family: inherit;

    /* line-height: 55px; */
    padding: 10px;

    font-size: 25px;
    background-color: #20a94f;
    color: white;
}

.c-portal > .main-content > .main-content-area {
    flex: 2;
    overflow: auto;
    padding: 0 15px;   
}