.c-timeline-container--wrapper {
    position: relative;
    height: 50px;
    margin: 0 5px;

    /* border: 1px solid #909094; */

    background: #f9f6f6;
    background-image: url(../images/timeline.png);
}

.c-timeline-container--task {
    height: 100%;

    position: absolute;
    background: #7cacf5;
    opacity: 0.9;
    overflow: hidden;

    border: 1px solid black;
    padding: 1px;
}

.c-timeline-container--task__active {
    background: #ffb66cf0;
}

.c-timeline-container--task__selected {
    background: #51aff9;
    color: white;
    border: 2px dashed darkblue;
}

.c-timeline-container--handle {
    position: absolute;
    height: 100%;
    width: 2px;
    background: red;
    z-index: 100;
}

.c-timeline-container--clock {
    margin: 0 5px;
    color: #909094;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.c-timeline-container--clock span {
    flex: 1;
}

.c-timeline-container--task-settings {
    min-height: 200px;
    
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}