ul.Folders-list {
    padding: 0;
}

ul.Folders-list > li {
    border: 1px solid gray;
    background-color: antiquewhite;

    min-width: 200px;
    max-width: 200px;

    text-align: center;

    list-style-type: none;
    padding: 10px;
    margin-bottom: 5px;
}