ul.Folders-list {
    padding: 0;
}

ul.Folders-list > li {
    border: 1px solid gray;
    background-color: antiquewhite;

    min-width: 200px;
    max-width: 200px;

    text-align: center;

    list-style-type: none;
    margin-bottom: 5px;
}

ul.Folders-list > li > div{
    padding: 10px;
}

li.Create-folder-item-icon::before {
    content: "\002B";
    font-size: 22px;
    font-weight: bold;
    line-height: 15px;
}