.Task-list-region {
    width: 100%;
    overflow: auto;
}

ul.Tasks-list {
    list-style-type: none;
    width: 100%;

    padding: 0;
    margin: 0;
}

ul.Tasks-list > li {
    border: 1px solid rgb(60, 57, 243);
    background-color: rgb(93 135 214);

    color: white;

    min-width: 200px;

    text-align: center;

    margin-bottom: 5px;
}
/*
ul.Tasks-list > li > div { 
    padding: 10px;
}
*/

.Create-task-icon::before {
    content: "\002B";
    font-size: 22px;
    font-weight: bold;
    line-height: 15px;
}

li.task-listitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.Tasks-list > li.Task-create > div, li.task-listitem .Action-icon, li.task-listitem .task-listitem-title {
    padding: 10px;
}

li.task-listitem .Action-icon {
    margin-left: 3px;
}

li.task-listitem .task-listitem-title {
    flex: 1;
    align-self: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.task-listitem.task-listitem-resolved {
    font-style: italic;
    background-color: #38bd38;
}

li.task-listitem.task-listitem-rejected {
    background-color: #d24bd2;
}

li.task-listitem.task-listitem-rejected .task-listitem-title {
    text-decoration: line-through;
}

li.task-listitem.task-listitem-inprogress {    
    background-color: #53eac4;
    color: #1857ce;
    font-weight: bold;
}