ul.Tasks-list {
    padding: 0;
}

ul.Tasks-list > li {
    border: 1px solid rgb(60, 57, 243);
    background-color: rgb(40, 115, 255);

    color: white;

    min-width: 200px;
    max-width: 200px;

    text-align: center;

    list-style-type: none;

    margin-bottom: 5px;
}

ul.Tasks-list > li > div { 
    padding: 10px;
}

.Create-task-icon::before {
    content: "\002B";
    font-size: 22px;
    font-weight: bold;
    line-height: 15px;
}