.Note-view {
    display: flex;
    flex-direction: column;
}

.Note-view .Note-view-controls button{
    width: 30px;
    height: 30px;
}

.Note-view .Note-view-controls button.empty-slot{
    background: transparent;
}

.Note-view .Note-view-controls button.transparent-bg{
    background: url(/transparent.png);
    background-size: contain;
}

.Note-view .Note-view-controls-left,  .Note-view .Note-view-controls-right{
    display: flex;
    flex-direction: row;
    background-color: #4e4e4e;
}

.Note-view.Note-view-preview-mode .Note-view-controls-left,  .Note-view.Note-view-preview-mode .Note-view-controls-right{
    display: none;
}

.Note-view pre.editable {
    background-color: #e8e874;
    color: initial;
    
    padding: 5px;

    flex: 1;
    margin: 0;

    min-width: 200px;

    min-height: 400px;
    max-height: 800px;

    outline: 0;
    overflow: auto;
}

.Note-textarea {
    min-height: 200px;
}