ul.Notes-list {
    list-style-type: none;
    width: 100%;

    padding: 0;
    margin: 0;
}

ul.Notes-list > li {
    border: 1px solid rgb(253, 255, 136);
    background-color: rgb(255, 251, 40);
/*
    min-width: 200px;
    max-width: 200px;
*/
    text-align: center;

    list-style-type: none;
    margin-bottom: 5px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul.Notes-list > li .Note-listitem-title, ul.Notes-list > li .Action-icon {
    padding: 10px;
}

ul.Notes-list > li .Note-listitem-title {
    flex: 1;
}

.Create-note-icon::before {
    content: "\002B";
    font-size: 22px;
    font-weight: bold;
    line-height: 15px;
}