.Note-view {
    display: flex;
    flex-direction: row;
}

.Note-view .Note-view-controls-left,  .Note-view .Note-view-controls-right{
    display: flex;
    flex-direction: column;
    background-color: #301d53;
}

.Note-view pre.editable {
    background-color: #ffff1f;
    padding: 5px;

    flex: 1;
    margin: 0;

    min-width: 200px;

    min-height: 400px;
    max-height: 800px;

    outline: 0;
    overflow: auto;
}

.Note-textarea {
    min-height: 200px;
}