.Note-view {
    display: flex;
    flex-direction: column;
}

.Note-view pre.editable {
    background-color: #ffff1f;
    padding: 5px;

    flex: 1;
    margin: 0;

    min-width: 200px;
    min-height: 400px;

    height: 100%;
    max-height: 800px;

    outline: 0;
    overflow: auto;
}

.Note-textarea {
    min-height: 200px;
}