ul.recents-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    color: white;
}

li.recents-list__item {
    margin-bottom: 5px;
    
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
}

li.recents-list__item--note {
    color: #f9f789;
}

li.recents-list__item--task {
    color: skyblue;
}